
table{
    margin-top: 40px;
    margin-left: 10px;
	background-color: white;
	text-align: left;
	width: 100%;
}

th, td{
	padding: 10px;
}

thead{
	background-color: #246355;
	color: white;
    text-align: center;
}